html{
    scroll-behavior: smooth;
}

*{
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    font-size: 13px;
}

#logo-corebiz{
    display: none;
}

menu{
    display: none;
}

#nav-desktop{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40%;
}

a{
    text-decoration: none;
    cursor: pointer;
}

#nav-desktop a{
    color: #333333;
}

button{
    border: none;
    cursor: pointer;
}

/*tira algum estilo padrão*/
input:focus,input:active, select:focus,select:active  {
    outline: none;
    box-shadow: none;
}

input, select{
    border: none;
}

select{
    cursor: pointer;
}

#search{
    border-bottom: 2px #000000 solid;
    width: 190px;
    display: flex;
    justify-content: space-between;
    padding: .5em;
    cursor: text;
}

#img-cart, #img-search{
    cursor: pointer;
}

.item-banner1, .item-banner2, .item-banner3, .item-banner4{
    width: 100%;
    display: flex;
    background-image: url('../assets/img-banner.jpg');
    background-size: cover;
}

.text-banner{
    padding: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#advertising-main{
    font-size: 30px;
    font-weight: 900;
    color: #000000;
}

#topics-main{
    font-size: 40px;
    font-weight: 900;
    color: #E9BF33;
}

.advertising{
    font-size: 25px;
    font-weight: 900;
    color: #000000;
}

.topic{
    font-size: 30px;
    font-weight: 900;
    color: #E9BF33;
}

.img-banner{
    width: 50%;
    margin: 0;
}

.owl-prev, .owl-next{
    height: 50px;
    width: 50px;
}

#best-sellers{
    margin: 2em auto;
    width: 80%;
}

h3{
    font-size: 20px;
    font-weight: 900;
}

.line-yellow{
    margin-bottom: 1em;
}

.card-product{
    width: 220px;
    height: 355px;
    background: #FFFFFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.img-product{
    width: 100%;
}

.title-product, .old-price, .alternative-price{
    font-size: 12px;
    font-weight: 600;
    color: #7A7A7A;
}

.old-price, .alternative-price{
    font-weight: 400;
}

.new-price{
    font-size: 18px;
    font-weight: 700;
    color: #000000;

}


.btn-buy:hover{
    opacity: .7;
}

.link-buy{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #ffffff;
    background: #00E676;
    width: 125px;
    height: 32px;
    border-radius: 5px;
    color: #ffffff;
}

#news-desk-off, #confirmation-register{
    background-color: #F2F2F2;
    margin-top: 4vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 146px;
    font-family: 'Lato', sans-serif;
}

#title-news-desk-off{
    font-size: 22px;
    font-weight: 700;
    color: #333333;
    margin-bottom: .5em;
}

#name, #email{
    height: 48px;
    width: 280px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 1em 0 1em;
    margin-right: .5em;
}

#name:focus,#name:active, #email:focus,#email:active  {
    border: 1px solid #BDBDBD;
}

#submit{
    background-color: #E9BF33;
    color: #ffffff;
    border-radius: 5px;
    width: 140px;
    height: 48px;
    font-size: 14px;
    font-weight: 900;
}

#register-email:invalid #submit{
    opacity: .5;
    cursor: default;
}

#title-confirmation-register{
    font-size: 14px;
    font-weight: 700;
}

#text-confirmation-register{
    font-size: 12px;
    font-weight: 400;
}

#btn-reset{
    background-color: #000000;
    width: 325px;
    height: 48px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 1em;
}

footer{
    height: 213px;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
}

address{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#localization{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: default;
}

.line-yellow{
    width: 44.94px;
    height: 5px;
}

#localization addres p {
    font-size: 13px;
    margin-bottom: .5em;
}

#localization addres #title-localization{
    font-weight: bold; 
    font-size: 20px;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#contact a:nth-child(2){
    margin-top: 3em;
}

@media only screen and (max-width: 900px){

    header select{
        display: none;
    }

    #news-desk-off, #confirmation-register{
        padding: 1em;
        height: 100%;
    }

    #register-email{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #register-email input{
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 860px){

    .my-account{
        display: none;
    }

    #img-cart{
        margin-left: 1em;
    }


}

@media only screen and (max-width: 768px){

    footer{
        height: 100%;
        padding: 1em;
    }
    
    address{
        flex-direction: column;
    }

    #localization, #contact{
        margin-bottom: 1em;
    }
}

@media only screen and (max-width: 768px){

    .link-home, .link-contact{
        display: none;
    }

    header{
        padding-bottom: .3em;
        height: 70px;
        align-items: flex-start;
        text-align: center;
    }

    #search{
        position: absolute;
        top: 45px;
        right: auto;
    }

    #logo-gobeyond{
        display: none;    
    }

    #logo-corebiz{
        display: inline;
        position: absolute;
        top: initial;
        right: auto;
    }

    menu{
        display: inline;
    }

    #img-menu{
        cursor: pointer;
    }
    
    #div-menu{
        display: none;
        position: absolute;
        z-index: 3;
        background-color: #E9BF33;
        border-radius: 20px;
    }
    
    
    #nav-mobile{
        display:flex;
        color:#000000;
        flex-direction: column;
        justify-content: space-around;
        height: 200px;
        width: 140px;
        text-align: center;
    }

    #nav-mobile span{
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
    }

    #nav-mobile span a{
        color:#000000;
        font-weight: 600;
    }
    
    #img-cart{
        margin: 0;
    }

    #contact a:nth-child(2){
        margin-top: 1em;
    }

}